
<script>
  function success(position) {
    var lat = $('#subscriber_latitude'); 
    var lng = $('#subscriber_longitude');
    
    lat.val(position.coords.latitude);
    lng.val(position.coords.longitude);
  }

  function error(msg) {
    $('#address_field').show();
    console.log(msg);
  }
  $(document).ready(function() {
    $("#subscriber_phonenumber").keydown(function(event) {
      // Allow: backspace, delete, tab and escape
      if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || 
          // Allow: Ctrl+A
         (event.keyCode == 65 && event.ctrlKey === true) || 
         // Allow: home, end, left, right
         (event.keyCode >= 35 && event.keyCode <= 39)) {
         // let it happen, don't do anything
        return;
      }
      else {
        // Ensure that it is a number and stop the keypress
        if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
           event.preventDefault(); 
        }   
      }
    });
    $('#address_field').hide();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error);
    } else {
      error('not supported');
    }
  });
</script>
<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phonenumber %><br />
    <%= f.text_field :phonenumber, :maxlength => 11, :size => 13, :placeholder => '12125554444' %>
  </div>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div class="field" id="address_field">
    <label for="address">Address</label><br>
    <textarea id="address" name="address"></textarea>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
