
<script>
  function success(position) {
    var lat = $('#subscriber_latitude');
    var lng = $('#subscriber_longitude');

    lat.val(position.coords.latitude);
    lng.val(position.coords.longitude);
  }

  function error(msg) {
    $('#address_field').show();
    console.log(msg);
  }
  $(document).ready(function() {
    $("#subscriber_phonenumber").keydown(function(event) {
      // Allow: backspace, delete, tab and escape
      if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 ||
      // Allow: Ctrl+A
      (event.keyCode == 65 && event.ctrlKey === true) ||
      // Allow: home, end, left, right
      (event.keyCode >= 35 && event.keyCode <= 39)) {
        // let it happen, don't do anything
        return;
      }
      else {
        // Ensure that it is a number and stop the keypress
        if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
          event.preventDefault();
        }
      }
    });
    $('#address_field').hide();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error);
      } else {
      error('not supported');
    }
  });
</script>

<div id="pitch">
  <p> Predict the Sky SMS is a text message service for satellite enthusiasts. It tracks satellite events and sends you a SMS message when one is visible from your location on Earth as it's happening. Right now it tracks the ISS as it passes over the earth, as well as iridium flare events from a variety of satelites. It pulls the data from <a href="http://www.heavens-above.com">Heavens-Above.com</a> and uses <a href="http://twilio.com/">Twilio</a> to send the text messages to subscribers.</p>
</div><!--/pitch-->

<div id="form" class="clearfix">
  <%= form_for(@subscriber) do |f| %>
    <% if @subscriber.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

        <ul>
          <% @subscriber.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <ul>
      <li>
      <%= f.label :phonenumber, "Phone #:" %>
      <%= f.text_field :phonenumber, :maxlength => 11, :placeholder => '12125554444' %>
      </li>
      <div id="address_field">
        <li>
        <label>Address:</label>
        <input name="address" type="text">
        </li>
        <li>
        <label>City:</label>
        <input name="city" type="text">
        </li>
        <li>
        <label>State:</label>
        <input name="state" type="text">
        </li>
        <li>
        <label>Zip:</label>
        <input name="zip" type="text">
        </li>
      </div>
      <li>
      	<label>Subscribe to Events:</label>
		<span><%= f.label :iss_event, "ISS" %>
		<%= f.check_box :iss_event %></span>
		<span><%= f.label :iridium_event, "Iridium" %>
		<%= f.check_box :iridium_event %></span>
      </li>
      <li>
      <button type="submit">Get Notified</button>
      </li>
    </ul>
  <% end %>
</div><!--/form-->
