<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Predict the Sky</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "reset", "style" %>
  <%= javascript_include_tag "application", "script","modernizr-2.5.3.min" %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<canvas id="pixie"></canvas>
<div id="glow">

<div id="container">

<header>
  <%= image_tag "title.png" %>
</header>

<div id="content" class="clearfix">
<%= yield %>
</div><!--/content-->

<footer>
  <div id="crafted">
    <p>Crafted by <a href="https://twitter.com/#!/kennedysgarage">@kennedysgarage</a>, <a href="https://twitter.com/#!/antityping">@antityping</a>, <a href="https://twitter.com/#!/jsaracco">@jsaracco</a>, <a href="https://twitter.com/#!/jonmarkgo">@jonmarkgo</a> | Powered by <a href="http://www.twilio.com/">Twilio</a></p>
  </div><!--/crafted-->
  
  <div id="twitter">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div><!--/twitter-->
</footer>

</div><!--/container-->
</div><!--/glow-->
</body>
</html>
